<h1><%= t(".greeting", name: @user.name) %></h1> 
<p>
  <%= t(".message") %> 
</p>
<p>
  <%= link_to edit_password_reset_url(id: @user.reset_token, email: @user.email), 
              edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
</p>
<p>
  <%= t(".expiration", time: Settings.defaults.user.password_reset_expiration) %>
</p>
<p>
  <%= t(".ignore") %>
</p>
