<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <div>
        <%= @user.created_at.strftime(Settings.defaults.date_formats.user_profile) %>
      </div>
      <div>
        <%= @user.updated_at.strftime(Settings.defaults.date_formats.user_profile) %>
      </div>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @microposts.any? %>
      <h3><%= t("microposts.title") %> (<%= @microposts.count %>)</h3>
      <ul class="microposts">
        <%= render @microposts %>
      </ul>
    <%= raw pagy_bootstrap_nav(@page) %>
    <% end %>
  </div>
</div>
